name: Deploy Lambda cac-oidc-client
permissions: {}

on:
  push:
    branches:
      - 'main'
    # execute action only if one or combination of these files changed
    paths:
      - 'src/**'
      - 'package.json'
      - 'package-lock.json'
      - 'tsconfig*.json'
  workflow_dispatch:
    inputs:
      environment:
        description: 'Choose environment'
        type: choice
        required: true
        default: dev
        options:
          - dev
          - prod
jobs:
  setup:
    runs-on: ubuntu-22.04
    # skip execution if commit message contains chore(release) -> this avoids deploying twice when releasing with semantic-release
    if: ${{ github.event_name == 'workflow_dispatch' || !contains(github.event.head_commit.message, 'chore(release)') }}
    outputs:
      matrix: ${{ steps.env-matrix.outputs.matrix }}

    # set env matrix (env-region) depending on event type (push or workflow_dispatch)
    steps:
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332

      - name: Setup environment matrix
        id: env-matrix
        uses: ./.github/workflows/env-matrix-setup
        with:
          event_name: ${{ github.event_name }}
          environment_input: ${{ github.event.inputs.environment }}
  build:
    runs-on: ubuntu-22.04
    needs: [setup]
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332

      # call common node setup workflow
      - name: Node setup
        id: node-setup
        uses: ./.github/workflows/node-setup
        with:
          node-version-file: '.nvmrc'

      # build project
      - name: Build TypeScript
        run: npm run build

      # remove dev dependencies reducing package size
      - name: Remove dev dependencies
        run: npm prune --omit=dev

      # create lambda zip package in cac-oidc-client-lambda.zip
      - name: Zip Lambda package
        run: npm run package:lambda

      # archive build artifacts
      - name: Archive build artifacts
        uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808
        with:
          name: cac-oidc-client-lambda
          path: ./cac-oidc-client-lambda.zip

  deploy:
    name: Deploy lambda cac-oidc-client ${{ matrix.environment }}
    if: ${{ needs.setup.outputs.matrix != '' }}
    runs-on: ubuntu-22.04
    needs: [setup, build]
    strategy:
      matrix: ${{ fromJson(needs.setup.outputs.matrix) }}
    continue-on-error: false
    environment: ${{ matrix.environment }}
    env:
      ENV_SHORT: ${{ fromJSON('{"dev":"d","prod":"p"}')[matrix.environment] }}
      REGION_SHORT: ${{ fromJSON('{"eu-south-1":"es-1"}')[matrix.region] }}
    permissions:
      id-token: write
      contents: read

    steps:
      # get previously built artifact
      - name: Download build artifacts
        uses: actions/download-artifact@65a9edc5881444af0b9093a5e628f2fe47ea3b2e
        with:
          name: cac-oidc-client-lambda
          path: .

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@e3dd6a429d7300a6a4c196c26e071d42e0343502
        with:
          role-to-assume: ${{ vars.IAM_ROLE_DEPLOY_LAMBDA }}
          aws-region: ${{ matrix.region }}

      # upload lambda zip to the deployment S3 bucket
      - name: Retrieve Lambda function (${{ matrix.environment }})
        run: |
          aws s3 cp ./cac-oidc-client-lambda.zip s3://${{vars.LAMBDA_CODE_BUCKET_NAME}}/${{vars.LAMBDA_CAC_OIDC_CLIENT_KEY}}

      # update the Lambda function code using the S3 object just uploaded.
      - name: Deploy Lambda function (${{ matrix.environment }})
        run: |
          aws lambda update-function-code \
          --function-name ${{ env.REGION_SHORT }}-${{ env.ENV_SHORT }}-cac-oidc-client \
          --s3-bucket ${{vars.LAMBDA_CODE_BUCKET_NAME}} --s3-key ${{vars.LAMBDA_CAC_OIDC_CLIENT_KEY}}
