name: Terraform Apply

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Choose environment'
        type: choice
        required: true
        default: dev
        options:
          - dev
          - prod
  push:
    branches:
      - 'main'
    paths:
      - 'src/infra/**'

defaults:
  run:
    shell: bash

permissions:
  id-token: write # This is required for requesting the JWT
  contents: read # This is required for actions/checkout

jobs:
  setup:
    runs-on: ubuntu-22.04
    outputs:
      matrix: ${{ steps.env-matrix.outputs.matrix }}

    steps:
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332

      # set env matrix (env-region) depending on event type (push or workflow_dispatch)
      - name: Setup environment matrix
        id: env-matrix
        uses: ./.github/workflows/env-matrix-setup
        with:
          event_name: ${{ github.event_name }}
          environment_input: ${{ github.event.inputs.environment }}

  terraform:
    name: terraform apply (${{ matrix.environment }}
    if: ${{ needs.setup.outputs.matrix != '' }}
    runs-on: ubuntu-22.04
    needs: setup
    strategy:
      matrix: ${{ fromJson(needs.setup.outputs.matrix) }}
    environment: ${{ matrix.environment }}
    env:
      WORKING_DIR: src/infra/${{ matrix.environment }}

    steps:
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332

      - name: Apply
        uses: ./.github/workflows/apply
        with:
          working-directory: ${{ env.WORKING_DIR }}
          region: ${{ matrix.region }}
          iam_role: ${{ vars.IAM_ROLE_IAC }}
